{% load static i18n %}
{% block login %}
<head>
    <link rel="stylesheet" href="{% static 'css/loginSignup.css' %}">
</head>
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <a href="{% url 'authuser:login' %}"><h2 class="active"> {% translate 'Log In' %}</h2></a>
      <a href="{% url 'authuser:register' %}"><h2 class="inactive underlineHover">{% translate 'Sign Up' %}</h2></a>
  
  
      <!-- Login Form -->
      <form method="post">
        {% csrf_token %}
        <input type="text" id="email" class="fadeIn second" name="email" placeholder="email">
        <input type="text" id="password" class="fadeIn third" name="password" placeholder="{% translate 'password' %}">
        <input type="submit" class="fadeIn fourth" value="{% translate 'Log in' %}">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="/">{% translate 'Go Back to Store' %}</a>
      </div>
    </div>
  </div>
{% endblock %}